{% extends 'admin/base.html.twig' %}

{% block title %}Админка: Ворклоги{% endblock %}

{% block container %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="col-lg-12">
            <h4 class="h4">Ворклоги</h4>
        </div>
        <div class="col-lg-12">
            <div class="form_group">
                <div class="col-md-8 col-md-offset-4">
                    <button id="btn-load-worklogs" class="btn btn-success">
                        <i class="fa fa-btn fa-user"></i> Загрузить данные из Github
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Идентификатор</th>
                        <th scope="col">Название репозитария</th>
                        <th scope="col">sha</th>
                        <th scope="col">Логин пользователя</th>
                        <th scope="col">Почта пользователя</th>
                        <th scope="col">Сообщение</th>
                        <th scope="col">Url на коммит</th>
                        <th scope="col">Страница на коммит</th>
                        <th scope="col">Страница на комментарии</th>
                        <th scope="col">Дата коммита</th>
                    </tr>
                </thead>
                <tbody>
                    {% for val in worklogs %}
                    <tr>
                        <th scope="row">{{ val.id|e }}</th>
                        <td>{{ val.repositorieName|e }}</td>
                        <td>{{ val.sha|e }}</td>
                        <td>{{ val.committerName|e }}</td>
                        <td>{{ val.committerEmail|e }}</td>
                        <td>{{ val.message|e }}</td>
                        <td><a href="{{val.url|e}}">Ссылка на json коммит</a></td>
                        <td><a href="{{val.htmlUrl|e}}">Ссылка на html коммит</a></td>
                        <td><a href="{{val.commentsUrl|e}}">Ссылка на комментарии</a></td>
                        <td>{{ val.dateCommit.format('Y-m-d H:i')|e }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}